h1 {
  background-color: rgb(233, 168, 30);
  color: white;
}

.App h1 {
  text-align: center;
  background-color: rgb(233, 30, 30);
}

.App {
  text-align: center;
}

a {
  color: black;
}

ul {
  margin: auto;
}